resource "vault_mount" "${namespace}_general_v2" {
    provider = vault.example
    path = "${lob}-general"
    type = "kv-v2"
}


resource "vault_mount" "${namespace}_shared_v2" {
    provider = vault.example
    path = "${lob}-shared"
    type = "kv-v2"
}


resource "vault_mount" "${namespace}_sensitive_v2" {
    provider = vault.example
    path = "${lob}-sensitive"
    type = "kv-v2"
}




  







